body {
  display: flex;
  font-family: monospace;
}

.color-picker-app {
  margin: 0px;
}

.color-pickers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.swatches-output {
  flex-grow: 1;
}

.swatches-output span {
  display: inline-block;
  padding: 1em;
  background-color: white;
}